@charset "utf-8";

.navbar-default { background: #4d0e0e;}
.navbar-brand { padding: 0;}

header {position: relative; height: 100vh;}
header video {width: 100%; height: 100%; object-fit: cover;}
header .intro-text { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}

#about { background: url(../img/about_bg.jpg) no-repeat center/cover;}
#about ul {list-style: none;padding: 0;}
#about ul span { text-transform: uppercase; width: 30%; display: inline-block;}
#about ul li {padding: 10px 0;}

