@charset "utf-8";
/* CSS Document */


/* 공통사항 */
body { font-family: 'Noto Sans KR', sans-serif; font-size: 1.6rem; line-height: 1.5; color: #000; word-break: keep-all; }
#wrap { overflow-x: hidden; min-width: 320px; }

/* float해제 높이값 잡아주기 */
.clearfix:after { content: ''; display: block; clear: both; }
.txt_c { text-align: center; }

/* 기준해상도 영역잡기 */
.inner { max-width: calc(100% - 200px); margin: 0 auto; }

@media (max-width:1600px) {
    .inner { max-width: calc(100% - 160px); }
}

@media (max-width:1400px) {
    .inner { max-width: calc(100% - 140px); }
}

@media (max-width:1200px) {
    .inner { max-width: calc(100% - 120px); }
}

@media (max-width:1024px) {
    .inner { max-width: calc(100% - 100px); }
}

@media (max-width:768px) {
    .inner { max-width: calc(100% - 40px); }
}




/* all_menu */
.all_menu { width:100%; height:100%; background:#67625e url('../images/common/top_visual_bg.png') no-repeat center; background-size: cover; position:fixed; left:0; top:0; z-index:9999999; }
.all_menu h1 { font-size:6rem; font-weight:700; text-transform:uppercase; color:#c8a666; padding:100px 10% 50px; letter-spacing: -3px; }
.all_menu .all_gnb { display: flex; width: 80%; height: 50vh; margin:0 auto; }
.all_menu .all_gnb > li { padding: 10px 30px; width: calc(100%/5); border-left: 1px solid rgba(255,255,255,0.05); }
.all_menu .all_gnb > li > a { display:block; font-size:3rem; color:#FFF; font-weight: 700; text-transform: uppercase; }
.all_menu .all_depth2 { padding: 50px 0 0; }
.all_menu .all_depth2 li a { display:block; padding:5px 0; color:rgba(255,255,255,0.3); transition:color 0.5s; font-size: 2rem; }
.all_menu .all_depth2 li a:hover { color:#c8a666; }
.all_menu .all_close { cursor: pointer; position:absolute; right:0; top:0; }




/* header */
#header { border-bottom: 1px solid rgba(255,255,255,0.3); position: absolute; left: 0; top: 0; width: 100%; z-index: 99; transition: background 0.5s; }
#header:hover { background: #fff; border-bottom: 1px solid rgba(0,0,0,0.1); }

#header .inner { display: flex; justify-content: space-between; align-items: center; }
#header h1 img:nth-child(2) { display: none; }
#header:hover h1 img:nth-child(1) { display: none; }
#header:hover h1 img:nth-child(2) { display: block; }


#header nav { margin: 20px auto 0 50px; }
#header .gnb { display: flex; }
#header .gnb > li { position: relative; }
#header .gnb > li:before { transition: width 0.5s, top 0.2s; content: ''; display: block; width: 0; height: 3px; background: #c8a666; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0; }
#header .gnb > li:hover:before { width: 100%; }
#header .gnb > li > a { transition: color 0.5s; color: #fff; display:block; padding:20px 30px; font-size: 2.2rem; font-family: 'GowunBatang', serif; }
#header:hover .gnb > li > a { color: #000; }
#header .gnb > li:hover > a { color: #c8a666; }

#header .gnb .depth2 { display: flex; position: absolute; z-index: 99999; width: 500px; }
#header .gnb .depth2 li a { display: block; padding: 20px; transition:color 0.5s; font-family: 'Noto Sans KR'; }
#header .gnb .depth2 li a:hover { color:#c8a666; }


#header .depth2_bg { width: 100%; height: 60px; background: #fff; position: absolute; left: 0; top: 94px; z-index: 999; }


#header .util .ham { display: none; }

#header .mgnb_wrap { z-index:99999; position:fixed; left:100%; top:0; width:100%; height:100%; padding:70px 4.882vw 0; background: #fff; }
#header .mgnb { border-top: 1px solid #000; }
#header .mgnb > li { padding:15px 0 10px; border-bottom:1px solid #ddd; font-size: 2.4rem; font-family: 'GowunBatang', serif; }
.mdepth2 { padding: 10px 0 0 30px; }
.mdepth2 > li { position: relative; }
.mdepth2 > li:before { content: ''; width: 5px; height: 5px; background: #999; border-radius: 50%; position: absolute; left: -15px; top: 50%; margin-top: -2.5px; }
.mdepth2 > li a { color:#666; display: block; padding: 3px 0; font-family: 'Noto Sans KR'; font-size: 1.6rem; }

#header .mgnb_close { position:absolute; right:2.441vw; top:20px; cursor: pointer; }



#header .util { display: flex; align-items: center; gap: 30px; }
#header .util .menu { position: relative; width: 35px; height: 26px; cursor: pointer; font-size: 0; }
#header .util .menu::before { content: ''; width: 100%; height: 2px; background: #fff; position: absolute; right: 0; top: 7px; }
#header .util .menu::after { content: ''; width: 80%; height: 2px; background: #fff; position: absolute; right: 0; bottom: 7px; }
#header:hover .util .menu::before,#header:hover .util .menu::after { background: #000; }

#header .util .language { cursor: pointer; font-size: 1.4rem; color: #fff; }
#header:hover .util .language { color: #000; }
#header .util .language span { display: inline-block; width: 8px; height: 8px; border-left: 2px solid #fff; border-bottom: 2px solid #fff; transform: translate(5px,-3px) rotate(-45deg); }
#header .util .language span.active { transform: translate(5px,1px) rotate(135deg); }
#header:hover .util .language span { border-color: #000; }
#header .util .language ul { background: #c8a666; position: absolute; transform: translate(-5px,5px); z-index: 9; padding: 10px 15px; }
#header .util .language ul li a { display: block; color: #fff; }



@media (max-width:1024px) {
    #header { padding: 10px 0; }
    #header h1 img { width: 80%; }
    #header .gnb { display: none; }
    #header .util .sitemap { display: none; }
    #header .util .ham { display: block; }
}

@media (max-width:768px) {
    #header .util .language { display: none; }
}





/* footer */
#footer { padding: 100px 0; color:#999; }
#footer .inner { position: relative; }
#footer .footer_logo { display: flex; align-items: flex-end; gap: 20px; }
#footer .footer_link { display: flex; gap: 20px; margin: 30px 0 50px; }
#footer address span { display:inline-block; padding-right: 10px; color: #000; }
#footer .copy { padding-top: 20px; }


#footer .sns { display: flex; gap: 20px; font-size: 2.4rem; position: absolute; right: 0; top: 0; }
#footer .sns li a { transition: opacity 0.5s; opacity: 0.3; }
#footer .sns li:hover a { opacity: 1; }

#footer .cs { position: absolute; right: 0; top: 70px; text-align: right; }
#footer .cs1 { color: #000; font-weight: 700; }
#footer .cs1 span { display: block; padding: 10px 0 20px; color:#c8a666; font-size:3.6rem; font-family: 'GowunBatang', serif; }
#footer .cs2 { color: #999; }


@media (max-width : 1024px) {
    #footer { padding: 50px 0; }
    #footer .sns { position: static; }
    #footer .cs { position: static; text-align: left; padding: 30px 0; }    
}



@media (max-width : 768px) {
    #footer { font-size: 1.4rem; }   
}


