@charset "utf-8";

@font-face {
    font-family: 'Eulyoo1945';
    src: url(../font/Eulyoo1945-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Eulyoo1945';
    src: url(../font/Eulyoo1945-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}
