@charset "utf-8";

:root {
    --main-font :'pretendard',sans-serif;
    --main-color :#0B1E33;
}


#case .inner {max-width: 1600px; padding: 150px 5% ;}

/* tab-btn */
#case .tab_btn {width: 560px; height: 40px; display: flex; justify-content: center; margin: 0 auto; gap: 20px; background: #eee; border-radius: 15px;}
#case .tab_btn li {width: calc((100% - 40px) / 3); cursor: pointer; font-size: 1.6rem; text-align: center;  padding: 8px 0 0;}
#case .tab_btn li.active {font-weight: 400; color: #fff; background: var(--main-color); border-radius: 15px; padding: 8px 0 0;  width: 172px;} 

/* tab_con */
#case .tab_con li .solution {display: flex; flex-wrap: wrap; gap: 40px 10px; }
#case .tab_con li .solution:nth-child(1) {padding: 50px 0;}
#case .tab_con li .solution:nth-child(3) {padding: 50px 0 0 ;}
#case .tab_con li .solution li {width: calc((100% - 60px) / 4); position: relative;} 
#case .tab_con li .solution li  {display: block; position: relative;} 
#case .tab_con li .solution li .solution_img {filter: brightness(0.7); transition: all 0.5s;}
#case .tab_con li .solution li .solution_img img {width: 100%; display: block;}

#case .tab_con li .solution li p {bottom: 10px; left: 10px; font-weight: 600; font-size: 2rem; position: absolute; color: #fff; transition: all 0.5s; padding: 0 35px 20px 10px;}
#case .tab_con li .solution li .btn_read {background: #0B1E33; padding: 50px; border-radius: 50%; color: #fff; font-size: 2rem; text-align: center; font-weight: 300; position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%);  opacity: 0; transition: all 0.5s;}

#case .tab_con li .solution li:hover .solution_img {filter: none;}
#case .tab_con li .solution li:hover p {opacity: 0;}
#case .tab_con li .solution li:hover .btn_read {opacity: 1;}


@media(max-width:1200px) { 
    #case .inner {padding: 100px 5%;}
    #case .tab_con li .solution li {width: calc((100% - 40px) / 3);}
    #case .tab_con li .solution {display: flex; flex-wrap: wrap;  }
}

@media(max-width:768px) { 
    #case .inner {padding: 50px 5%;}
    #case .tab_btn {width: 100%; height: 35px;}
    #case .tab_btn li {font-size: 1.4rem;}
    #case .tab_btn li.active {width: 120px;}
    #case .tab_con li .solution {display: flex; flex-wrap: wrap; gap: 10px; }
    #case .tab_con li .solution:nth-child(1) {padding: 50px 0 20px;}
    #case .tab_con li .solution:nth-child(3) {padding: 20px 0 0 ;}
    #case .tab_con li .solution li {width: calc((100% - 20px) / 2);}
    #case .tab_con li .solution li p {font-size: 1.5rem; padding: 0 25px 10px 5px; }
    #case .tab_con li .solution li .btn_read {padding: 30px; font-size: 1.5rem;}
    
}