@charset "utf-8";

body{color: #333; font-size: 1.6rem; line-height: 1.5; font-family:'pretendard',sans-serif; overflow-x: hidden;}
.inner{max-width: 1700px; margin: 0 auto; padding: 0 5%;}


/* 사이트맵+모바일 영역 시작 */
/* all_wrap */
.all_wrap { padding: 300px 20%; position: fixed; right: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); backdrop-filter: blur(20px); text-align: center; z-index: 150;}

.all_wrap .all_gnb { height: 50vh; display: flex; gap: 30px; justify-content: center; }
.all_wrap .all_gnb > li { padding: 10px 30px; width: calc(100% / 4);}
.all_wrap .all_gnb > li > a { position: relative; font-weight: 600; font-size: 3rem; text-transform: uppercase; color: #fff;}

.all_wrap .all_gnb > li > a::after { content: ""; width: 8px; height: 8px; background: #C8D3F8; border-radius: 50%; position: absolute; top:-40px; left: -5px; transition: all 0.5s; opacity: 0;}
.all_wrap .all_gnb > li:hover > a::after { opacity: 1; top: -15px; }

.all_wrap .all_gnb > li .all_depth2 { margin-top: 30px; }
.all_wrap .all_gnb > li .all_depth2 li { padding: 7px 0; }
.all_wrap .all_gnb > li .all_depth2 li a { transition: all 0.3s; font-size: 2rem; color: #ddd; }

.all_wrap .all_close { width: 60px; height: 60px; border: 0; cursor: pointer; font-size: 3rem; color: #fff; position: absolute; right: 2%; top: 2%;}

@media (max-width:1400px) {
    .all_wrap .all_gnb { gap: 10px;}
    .all_wrap .all_gnb > li { padding: 10px; width: calc(100% / 4);}
    .all_wrap .all_gnb > li > a { font-size: 2.2rem; }
    .all_wrap .all_gnb > li .all_depth2 { margin-top: 20px; }
    .all_wrap .all_gnb > li .all_depth2 li { padding: 5px 0; }
    .all_wrap .all_gnb > li .all_depth2 li a { font-size: 1.5rem; } 
}

/* mgnb_wrap */
.mgnb_wrap { z-index: 155; position: fixed; top: 0; right: -100%; width: 100%; height: 100%; background: #0B1E33; color: #fff; display: none;}

.mgnb_wrap .m_gnb { padding: 150px 10%; position: relative; }
.mgnb_wrap .m_gnb > li { padding: 20px 10px; border-top: 1px solid rgb(255,255,255,0.3);}
.mgnb_wrap .m_gnb > li:last-child { border-bottom: 1px solid  rgb(255,255,255,0.3); }
.mgnb_wrap .m_gnb > li > a { font-size: 2rem; color: #fff;}
.mgnb_wrap .m_gnb > li > a:hover {  transition: all 0.5s; }

.mgnb_wrap .m_gnb > li .m_depth2 li { position: relative; padding-top: 10px;}
.mgnb_wrap .m_gnb > li .m_depth2 li:nth-child(1) { padding-top: 20px; }
.mgnb_wrap .m_gnb > li .m_depth2 li a { transition: all 0.3s; padding: 20px; font-size: 1.5rem; color: #fff; font-weight: 200;}

.mgnb_wrap .mgnb_close { width: 50px; height: 50px; border: 0; cursor: pointer; font-size: 2.5rem; color: rgb(255,255,255,0.5); position: absolute; right: 1%; top: 3%;}
/* 사이트맵+모바일 영역 종료 */

/* header */
#header{display: flex; justify-content: space-between; padding:10px 50px 0; align-items: center; height: 75px; position: fixed; top: 0; left: 0; z-index: 120; background: #fff; width: 100%; border-bottom: 1px solid #eee;}
#header h1{padding-bottom: 10px;}
#header h1 img{display:block; width: 100%; height: 100%;}
#header .hd_right{display: flex;  align-items: center;}
#header .hd_right nav .gnb{display: flex; font-size: 1.8rem;}
#header .hd_right nav .gnb >li >a {display: block; padding: 20px; transition: all 0.5s;}
#header .hd_right > ul{font-size: 4.0rem;}
#header .hd_right nav .gnb li .depth2{position: absolute; z-index: 10;  display: flex; gap : 20px; width: 100%; height: 50px; top: 83px; align-items: center; padding: 20px 0;}
#header .hd_right nav .gnb > li .depth2 li a{color: #fff; font-weight: 300; font-size: 1.6rem; padding: 0 5px; display: block;transition: all 0.5s;}
.gnb_bg{width: 100%; height: 60px; background: #0B1E33; position: absolute; top:75px; left: 0; z-index: 9;}


#header .hd_right nav .gnb > li .depth2 li a {position: relative; transition: all 0.5s;}
#header .hd_right nav .gnb > li .depth2 li a::after {opacity: 0; content: ""; width: 5px; height: 5px; background: #C8D3F8; display: block; border-radius: 50%; position: absolute; top:-20px; left: 5%; transition: all 0.5s;}

#header .hd_right nav .gnb > li:hover a {font-weight: 600;}
#header .hd_right nav .gnb > li .depth2 li:hover a::after {opacity: 1; top: -8px;}
#header .hd_right nav .gnb > li .depth2 li:hover a {font-weight: 300;}
#header .btn_sitemap { font-size: 2.8rem; color: #333; cursor: pointer;}

@media (max-width:1200px) {
    .inner {padding: 0 5%; max-width: 100%;}
    #header {padding: 10px 40px 0;}
    #header nav {display: none;}
}
@media (max-width:768px) {
    .inner {padding: 0 5%; max-width: 100%;}
    #header {padding: 10px 20px 0;}
}



/* footer */
#footer {background: #000; padding: 100px 0; }
#footer .inner { display: flex; flex-wrap: wrap;}
#footer .footer_bottom { margin-left: 100px;}
#footer .footer_bottom span { font-weight: 400; font-size: 1.6rem;}
#footer .footer_info { padding-bottom: 5px;}
#footer .footer_info a { font-size: 1.6rem; font-weight: 200; display: block; color: rgba(255,255,255,0.5); font-size: 1.6rem;}
#footer address { color: rgba(255,255,255,0.5); padding-bottom: 5px;} 
#footer .copy { color: #fff; font-size: 1.5rem; opacity: 0.3;}


@media (max-width:1240px) {
    #footer {padding: 50px 0; }
    #footer .inner { justify-content: center; }
    #footer .inner .footer_logo { padding-bottom: 30px;}
    #footer .footer_bottom { margin-left: 0; text-align: center;}
    #footer .footer_bottom a{font-size: 1.3rem;}
    #footer .footer_bottom span{font-size: 1.3rem;}
    #footer address{font-size: 1.3rem;}
}
  
@media (max-width:768px) {
    #footer .footer_info a { display: block; color: rgba(255,255,255,0.5); font-size: 1.3rem;}
    #footer .inner .footer_logo{transform: scale(0.8, 0.8);}
    #footer .copy { color: #fff; font-size: 1.1rem; opacity: 0.3;}
    #footer address { font-size: 1.2rem;}
}

.download i {display: inline-block; font-weight: 900;font-size: 3rem; color: #fff;
    cursor: pointer; position: fixed; right: 3%; bottom: 15%; z-index:3 ; background: #0B1E33; border-radius: 50%; padding: 3px 10px; }

/* gotop */
.gotop i {display: inline-block; font-weight: 900;font-size: 4.5rem; text-transform: uppercase; color: #0B1E33;
    cursor: pointer; position: fixed; right: 3.2%; bottom: 5%; z-index:3 ;}



/* 다운로드 창 팝업 */
.popup_bg {z-index: 199; background: #000; opacity: 0.8; width: 100%; height: 100%; position: fixed; left: 0; top: 0;}
.down_popup { position: fixed; z-index: 200; width: 500px; height: 350px; background: #fff; padding: 50px 0 0; left: 50%; top: 50%; transform: translate(-50%,-50%);}

.down_popup dl { text-align: center;}
.down_popup dl dt { font-size: 6rem; color: #333;}
.down_popup dl dd { font-size: 2rem; font-weight: 500;}
.down_popup dl dd b { color: #ccc; font-size: 1.6rem; font-weight: 300; }


.down_btn { display: flex; justify-content: center; gap: 10px;}
.down_btn1 { display: inline-block; background: #eee; font-weight: 400; padding: 10px 70px; border: none; border: none; margin-top: 50px;  font-family: 'pretendard'; transition: all 0.2s;}
.down_btn2 { display: inline-block; background: #eee; font-weight: 400; padding: 10px 70px; border: none; border: none; margin-top: 50px;  font-family: 'pretendard'; transition: all 0.2s;}
.down_btn2 a { color: #333;}
.down_btn1:hover {background: #0B1E33; color: #fff;}
.down_btn2:hover { background: #0B1E33;}
.down_btn2:hover a { color: #fff;}






